# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/MicroDron/firmware/MicroDron.X/dist/
/MicroDron/firmware/MicroDron.X/build/

MicroDron/firmware/src/system_config/default/configuration.xml
MicroDron/firmware/MicroDron.X/nbproject/project.xml
MicroDron/firmware/MicroDron.X/nbproject/private/private.xml
MicroDron/firmware/MicroDron.X/nbproject/configurations.xml
MicroDron/firmware/MicroDron.X/nbproject/Makefile-genesis.properties
MicroDron/firmware/MicroDron.X/nbproject/Makefile-default.mk

Harmony/*
MicroDron/firmware/build/*
